# Project exclude paths
/out/
/src/test/RegexTest.kt
.DS_Store
/production
*.iml
.gradle
.idea
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
course_adapter/src/jvmTest/kotlin/Test.kt
/.kotlin